/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Utilities */

.p-10 {
  padding: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.22);
  color: #c9c6cf;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
}

/* Header */

header {
  text-align: right;
}

header i {
  color: #fff;
}

/* Main Gallery */

main {
  flex-grow: 1;
  overflow: auto;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery li {
  width: 320px;
  margin: 5px;
}
.gallery .person {
  background-color: yellow;
  height: 200px;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .person .info {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Footer  */

footer {
  background-color: #222325;
}
